* {
    margin: auto;
    text-align: center;
}
#contador {
    font-size: 2rem;
    margin: 20px;
}

#aumentar {
    background-color: #4CAF50;
    color: white;
}

#diminuir {
    background-color: #f44336;
    color: white;
}

.botao {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}